@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  width: 100%;
  height: auto;
  padding: 40px 80px;
  background: #182C61;
  position: relative;
}

footer .footer-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-widget .one {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

footer .footer-widget .one h3 {
  color: white;
  font-weight: 500;
}

footer .footer-widget .one p {
  color: #BDBDBD;
  font-size: 12px;
  margin-top: 5px;
}

footer .footer-widget .one h4 {
  color: #F79929;
  margin-top: 20px;
  font-weight: 400;
}

footer .footer-widget .one .pp {
  color: #BDBDBD;
  font-size: 13px;
}

footer .footer-widget .one .con {
  margin-top: 30px;
}

footer .footer-widget .one .con h3 {
  color: #F79929;
  font-weight: 300;
  font-size: 13px;
}

footer .footer-widget .tow {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

footer .footer-widget .tow h3 {
  color: #FFA645;
}

footer .footer-widget .tow ul li a {
  color: #D5D5D5;
  font-weight: 400;
  font-size: 14px;
}

footer .footer-widget .three {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

footer .footer-widget .three h3 {
  color: #FFA645;
  font-weight: 500;
}

footer .footer-widget .three ul li a {
  color: #D5D5D5;
  font-weight: 400;
  font-size: 14px;
}

footer .footer-widget .four {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-top: 40px;
}

footer .footer-widget .four p {
  color: #D5D5D5;
}

footer .footer-widget .four .mass {
  padding: 8px 16px;
  margin: 20px 0;
  border-radius: 4px;
  border: none;
  outline: none;
}

footer .footer-widget .four .submit {
  background: #FF9505;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
  font-size: 10px;
}

footer .copy-write {
  position: relative;
}

footer .copy-write p {
  color: red;
  text-align: center;
  border-top: 2px solid #D5D5D5;
  margin-top: 20px;
}

footer .icon {
  width: 50%;
}

footer .icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  right: 50%;
  margin: auto;
}

footer .icon ul li a i {
  color: azure;
  width: 30px;
  height: 30px;
  background: darkslategrey;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  footer .footer-widget {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-widget .single-footer {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 992px) {
  footer .footer-widget {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-widget .single-footer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 450px) {
  footer .footer-widget {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-widget .single-footer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
    margin-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */